<%# locals: (cart:) %>
<div class="lg:col-start-2">
  <p class="mt-2 text-xl font-bold tracking-tight text-gray-900 sm:text-3xl">Cart</p>

  <ul role="list" class="mt-6 divide-y divide-gray-200 border-t border-gray-200 text-sm font-medium text-gray-500">
    <%= turbo_frame_tag "cart_items" do %>
      <%= render partial: "cart_items", locals: { cart: cart } %>
    <% end %>
  </ul>

  <dl class="space-y-6  pt-6 text-sm font-medium text-gray-500">
    <%= turbo_frame_tag "cart_summary" do %>
      <%= render partial: "cart_summary", locals: { cart: cart } %>
    <% end %>
  </dl>
</div>
