<div class="mx-auto w-full max-w-7xl grow lg:flex xl:px-2">
  <!-- Left sidebar & main wrapper -->
  <div class="flex-1 xl:flex">
    <div class="border-b border-gray-200 px-4 py-6 sm:px-6 lg:pl-8 xl:w-64 xl:shrink-0 xl:border-b-0 xl:border-r xl:pl-6">
      <!-- Left column area -->
      Left column area
    </div>

    <div class="px-4 py-6 sm:px-6 lg:pl-8 xl:flex-1 xl:pl-6">
      <!-- Main area -->
       Products
      <ul role="list" class="mt-6 divide-y divide-gray-200 border-t border-gray-200 text-sm font-medium text-gray-500">
        <%= render @products, { cart: @cart } %>
      </ul>
    </div>
  </div>

  <div class="shrink-0 border-t border-gray-200 px-4 py-6 sm:px-6 lg:w-96 lg:border-l lg:border-t-0 lg:pr-8 xl:pr-6">
    <!-- Right column area -->

    <%= render "cart", { cart: @cart } %>
  </div>
